#banner
  .banner_content
    %h1 BizDocs
    %p Getting files done

    %button= link_to "Enter", new_user_registration_path


#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Food truck freegan meggings try-hard, pug knausgaard literally blog green juice scenester small batch retro schlitz echo park. Hoodie kitsch meditation fashion axe. Drinking vinegar PBR&B letterpress fanny pack. Everyday carry twee farm-to-table pour-over gentrify. Letterpress schlitz kickstarter hashtag church-key taxidermy. Lumbersexual godard green juice, cornhole disrupt yr tousled. Locavore intelligentsia kale chips, lumbersexual flexitarian skateboard freegan selvage kickstarter fap twee scenester chambray.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path